<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Single Board</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">

    <h2><%= boardInfo[0].board_name %></h2>
    <hr>
    <div class="row">
        <% for (let i = 0; i < 6; i++) { %>
          <div class="col-md-3">
            <div class="single-column">
              <% for (let i = 0; i < 6; i++) { %>
              <div class="single-card">
                Testing
              </div>
              <% } %>
            </div>
          </div>
          <% } %>

    </div>

<!--p><% for(var i = 0; i < boardInfo.length; i++){ %>
   <p><%= boardInfo[i] %></p>
   <p><%= boardInfo[i].board_name %></p>
<% } %></p-->

  </div>

<p><% for(var i = 0; i < boardInfo.length; i++){ %>
   <p><%= boardInfo[i].column_name %></p>
   <p><%= boardInfo[i].content %></p>
<% } %></p>

  </div><!--end container div-->


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
